<div>
    <h1>Simple Vanilla Accordion</h1>
    <app-back-button></app-back-button>
    <p>
      <a class="accordion-toggle" href="#content-1">Show List 1</a>
    </p>
    <div class="accordion" id="content-1">
      <h2>List 1 Content</h2>
      <p>Just like zip.co accordion functionality</p>
    </div>
    
    <p>
      <a class="accordion-toggle" href="#content-2">Show List 2</a>
    </p>
    <div class="accordion" id="content-2">
      <h2>List 2 Content</h2>
      <p>Just using vanilla way to achieve it</p>
    </div>
    
    <p>
      <a class="accordion-toggle" href="#content-3">Show List 3</a>
    </p>
    <div class="accordion" id="content-3">
      <h2>List 3 Content</h2>
      <p>Trying to understand vanilla js native apis, </p>
      <p>such as querySelectorAll, classList, classList.toggle(), classList.add(), classList.remove() and etc</p>
    </div>
</div>
